.terms-section {
	background: #f6f6f6;
	border-bottom: 2px solid black;
}
.terms-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-bottom: 40px;
	padding-top: 40px;
}
